.center{
    text-align: center;
}

.titulo{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #369;
    font-size: 50px;
}

.btnEncontrar{
    margin-top: 20px;
}

