
<ion-content padding >
    <div class='center'>
    <h1>Vuelve pronto!</h1>

    <img src='assets/img/happyCustomers.png'>
    <h3>SIGUENOS EN NUESTRAS REDES SOCIALES!</h3>
    
  </div>
  <span class='icon-cont' class='center'>
      <ion-icon name='logo-facebook' class='icon animated infinite pulse' (click)='socialMedia("f")' ></ion-icon>
      <ion-icon name='logo-instagram' class='icon animated infinite pulse' (click)='socialMedia("i")' ></ion-icon>
      <ion-icon name='logo-twitter' class='icon infinite pulse' (click)='socialMedia("t")' ></ion-icon> <br/>
      <ion-button color='tertiary' (click)='closeModal()'> Cerrar </ion-button>

      
  </span>


</ion-content>
