.center{
    margin-top: 110px;
    text-align: center;
    display: block;
}
.icon-cont{
    height: 80px;
    width: 80px;
}
.icon{
    height: 60px;
    width: 60px;
    margin: 20px;
    cursor: pointer;
    
}